/* Defaults */
/***************************************/
:root {
    /* Base colors */
    --baseLight: #afabb2;
    --baseMedium: #594c63;
    --baseDark: #3F2E4C;
    --baseDarkest: #000;
    --secondary: #5B5F66;
    --secondary20: rgba(140,143,148,0.2); /*8c8f94*/
    --white: #fff;
    --background: #f8f8f8;
    --border: #E2E2E2;
    --accentPurple: rgba(159, 68, 178, 1);
    --accentPurple50: rgba(159, 68, 178, 0.5);
    --accentPurple10: rgba(159, 68, 178, 0.1);
    --accentYellow: #FFC742;
    --accentYellow20: rgba(239, 180, 39, 0.2);
    --accentYellow10: rgba(239, 180, 39, 0.1);
    --footnoteBackground: rgba(243,241,246, 0.8);
}

/* Fonts */
@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello/fontello.eot?62192000');
      src: url('../fonts/fontello/fontello.eot?62192000#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?62192000') format('woff'),
           url('../fonts/fontello/fontello.ttf?62192000') format('truetype'),
           url('../fonts/fontello/fontello.svg?62192000#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
.icon:before
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;

      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-size: 1.5em;

      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;

      line-height: 1em;
      margin-left: .2em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

.icon-next:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e803'; font-size: 1.7em; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-forward:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-wink:before { content: '\e813'; } /* '' */
.icon-youtube-text:before { content: '\f313'; } /* '' */
.icon-youtube-icon:before { content: '\f315'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-prev:before {
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Main */
html {
    font-size: 16px; /* 16px=1rem */
    line-height: 1.25;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
	font-family: 'Muli', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
h1 {
	font-size: 3rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	color: var(--baseDark);
}
h2 {
	padding: 0;
	margin: 0;
	line-height: 1em;
	color: var(--baseMedium);
}
h1, h2, h3, h4, h5, .icon-next:before {
		-webkit-transition: all 0.5s ease-out;
		   -moz-transition: all 0.5s ease-out;
		    -ms-transition: all 0.5s ease-out;
		     -o-transition: all 0.5s ease-out;
		        transition: all 0.5s ease-out;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-bottom: dotted 1px #666;
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
	color: var(--baseDark);
}

/* Header */
header#header {
  padding: 0.5em 2rem 1em 2rem;
	min-height: 60px;
	margin: 0;
	border-bottom: 1px solid var(--baseMedium);
	text-align: left;
	position: relative;
	background: var(--background);
	-webkit-transition: all 0.5s ease-out;
		   -moz-transition: all 0.5s ease-out;
		    -ms-transition: all 0.5s ease-out;
		     -o-transition: all 0.5s ease-out;
		        transition: all 0.5s ease-out;
	z-index: 100;
  display: flex;
  align-items: center;
}
header#header h1 {
	font-size: 1.6rem;
}
header#header h2 {
	font-size: 0.94rem;
  font-weight: 300;
  color: var(--secondary);
  padding: 0;
  margin: 0;
}
header#header.extended h2 {
	font-size: 1.6rem;
}
header#header h1 a {
	border: none;
}
header#header h1 a:hover {
	color: var(--accentPurple);
}
header#header ul.social {
	position: absolute;
	right: 120px;
    top: -1em;
}
.sticky {
	position: fixed;
	width: 100%;
	z-index: 100;
}

/* Sections */
section.content p {
	text-align: justify;
	padding: 2em 0 0 0;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: var(--baseMedium);
	font-weight: 300;
}
section.content.primary p {
	line-height: 2.0rem;
	text-align: left;
}
section.content p.follow-wrap {
	text-align: left;
}
section.content .flex-section p, section.content.content-gallery p {
	font-size: 0.8rem;
}
section.content a {
	color: var(--accentPurple);
	border-bottom: 1px solid var(--accentPurple50);
}
section.content a:hover,
section.content a:hover .icon:before {
	color: var(--baseDark);
}
section.content a .icon:before {
	color: var(--accentPurple);
}
section.content h4 {
	text-align: left;
	margin: 0 0 0 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--baseDark);
	font-size: 1.4rem;
}
section.content h4 a.download-link {
	font-size: 0.6rem;
	margin-left: 2em;
	background: var(--accentPurple10);
	border: 1px solid var(--accentPurple10);
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0.5em 1em;
	white-space: nowrap;
}
section.content h5 span.email {
	color: var(--accentPurple);
	text-transform: lowercase;
	margin-left: 1em;
	font-size: 0.8rem;
}
section.content h4 a.download-link:hover {
	background: var(--accentYellow20);
}
section.content.content-cv {
	text-align: left;
  margin-bottom: 4rem;
}
.content-cv .flex-section {
    margin-bottom: 2rem;
}
section.content.content-cv h5 {
	text-align: left;
	margin: 2em 0 0 1.5em;
	padding: 0;
	text-transform: uppercase;
	color: var(--accentPurple);
	display: inline-block;
	direction: ltr;
}
section.content.content-cv ul {
	font-size: 0.9rem;
	line-height: 1.3;
	text-align: left;
	margin-left: 0;
	color: var(--secondary);
}
section.content.content-cv ul li {
	margin-bottom: 0.5em;
}
section.content.content-cv ul.nostyle {
	list-style: none;
}
section.content.content-cv ul.nostyle li {
	margin-left: -1.5em;
}

/* SVG image */
#devochka {
	position: absolute;
	z-index: 1000;
    width: 80px;
    right: 1.5rem;
    margin-top: -80px;
}
#devochka img {
	max-width: 12em;
	width: 100%;
	position: relative;
}
#whatsnext {
	right: 6em;
	margin-top: 50%;
	position: absolute;
	z-index: 1000;
	width: 100px;
}
#devochka svg path {
	transition: all 0.2s;
}
#devochka:hover svg path.mouth {
	transform: translate(0, -3px);
	-moz-transform: translate(0, -3px);
	-webkit-transform: translate(0, -3px);
}
#devochka:hover svg path.lefteye {
	-moz-transform: translate(0.5px, 1px);
	transform: translate(0.5px, 1px);
	-webkit-transform: translate(0.5px, 1px);
	opacity: 1;
}
#devochka:hover svg path.righteye {
	-moz-transform: translate(1px, 1px);
	transform: translate(1px, 1px);
	-webkit-transform: translate(1px, 1px);
	opacity: 1;
}
#devochka svg path.righteye,
#devochka svg path.lefteye,
#devochka-look svg path.righteye,
#devochka-look svg path.lefteye {
	animation: blink 20s linear 1s infinite;
}
#devochka-look svg {
	width: 200px;
	margin-left: 3em;
}

/* Blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  0.2%, 1% {
    opacity: 0;
  }
  0.3%, 1.2%, 100% {
    opacity: 1;
  }
}

#devochka-look:hover svg path.righteye,
#devochka-look:hover svg path.lefteye {
	animation: eyeroll 3s linear;
}

/* Rolling eye animation */
@keyframes eyeroll {
  0%, 20% {
    -moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
  }
  40% {
    -moz-transform: translate(0.5px, 2px);
	transform: translate(0.5px, 2px);
	-webkit-transform: translate(0.5px, 2px);
  }
}

/* Links to social */
ul.social {
	cursor: default;
	list-style: none;
	padding: 1.5em 0 0 0;
	font-size: 70%;
}
ul.social li {
	display: inline-block;
	padding: 0 1.25em 0 0;
	color: var(--baseMedium);
}
ul.social li:hover, ul.social li:hover .icon::before {
    color: var(--accentPurple);
}
ul.social li:last-child {
	padding-right: 0;
}
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}
.icon::before {
	color: var(--baseMedium);
}
a.follow {
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0.3em 0.6em;
	background: var(--baseDark);
	color: white;
}
a.follow .icon-next:before {
	color: white;
}
a.follow:hover {
	background: var(--accentYellow20);
    border: none;
}

/* Primary menu */
#primary-menu {
	z-index: 3;
  margin-left: 2em;
}
#primary-menu ul {
	list-style: none;
	position: relative;
	text-transform: uppercase;
  margin: 0;
  padding: 0;
}
#primary-menu ul li {
	display: inline-block;
}
#primary-menu ul li a {
	background: white;
	border: 1px solid var(--baseMedium);
	font-size: 0.8rem;
	padding: 0.4rem 0.8rem;
	color: var(--baseMedium);
}
#primary-menu ul li.active a,
#primary-menu ul li.active:hover a,
.pm.active a.resume {
	background: var(--baseMedium);
	color: white;
	border: 1px solid var(--baseMedium);
}
#primary-menu ul li a:hover {
	z-index: 3;
	border: 1px solid var(--accentPurple);
	color: var(--accentPurple);
}

/* Misc */
.leftfloat {
	float: left;
}
.rightalign {
	text-align: right;
}
section.content p .strong,
section.content p strong,
section.content  strong {
	font-weight: 400;
	color: var(--baseDarkest);
}
.highlight {
	font-weight: 400;
	color: var(--baseDarkest);
	background: var(--accentYellow10);
}
.follow {
	white-space: nowrap;
}
.flash-unsupported {
	color: #777;
	font-size: 8pt;
}
.hidden {
	display: none;
}
.rightfloat {
	float: right;
	color: var(--baseMedium);
}

/* Box */
.flex-section {
  display: grid;
  grid-gap: 0;
  align-items: top;
  justify-content: center;
  margin: 0 auto 4rem auto;
}
.flex-col:first-child .image-container {
	margin-top: 2em;
}
.content-samples .col4.multicolumn {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.multicolumn p  {
	break-inside: avoid;
  /* Vendor prefix for older browsers */
  -webkit-column-break-inside: avoid; 
}

.flex-col  {
  margin-bottom: 1rem;
}
.content-cv .flex-section  {
  grid-gap: 0;
}
@media (min-width: 1400px) {
  .flex-section { grid-template-columns: 3fr 1fr; grid-gap: 2rem; }
  .flex-col {
    margin-right: 4%;
  }
  .content-samples .col4.multicolumn {
		-webkit-column-count: initial;
		-moz-column-count: initial;
		-ms-column-count: initial;
		-o-column-count: initial;
		column-count: initial;
	}
  .content-cv .flex-section {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

/* Gallery */
.gallery-container {
	padding: 2rem;
	background: var(--secondary20);
  text-align: center;
}
.sample + .gallery-container {
  margin-top: 2rem;
}
ul.gallery {
	list-style: none;
	margin: 0 auto;
	padding: 0;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}
ul.gallery li {
  border: 2px solid white;
  position: relative;
  overflow: hidden;
}
ul.gallery li::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
ul.gallery li:hover {
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
	z-index: 3;
  border: 2px solid var(--accentPurple);
}
ul.gallery li::before,
ul.gallery > li > img {
  grid-area: 1 / 1 / 2 / 2;
}
ul.gallery li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  object-fit: contain;
}
.square ul.gallery {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 80%;
}
.square ul.gallery li img {
  width: 130%;
}

/* Video */
.video-container {
  text-align: center;
  padding: 3rem 2rem;
	background: var(--secondary20);
}
video {
  width: 70%;
  height: auto !important;
}

.youtube-container {
  position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-container iframe, .youtube-container object, .vyoutube-container embed {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

/* Independent pages */
.content-special {
	margin: 0 auto;
	width: 80%;
	padding: 5em 0;
	padding-top: 120px;
}
.content-special .flex-section {
	min-height: 700px;
}
.samples-wrap {
	padding-top: 60px;
}
.story-wrap {
  padding-top: 60px;
  padding-bottom: 3rem;
}
.content-samples {
	padding: 5em 100px 0 300px;
}
ul.nostyle.strong {
  padding-left: 1.5rem;
}
ul.nostyle.strong li {
	margin-top: 2em;
	color: var(--baseDark);
	font-size: 1.1em;
	padding-left: 1rem;
	border-left: 5px solid var(--accentPurple50);
}
/* Stories */
.content-story {
	padding: 5em 0 0 0;
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
}
section.content.content-story h4,
.content-story .sample {
  text-align: center;
}
.content-story .sample img {
  width: 70%;
}
header#header.story-header  {
  text-align: center;
  display: block;
}
header#header.story-header h1 {
  color: var(--baseDarkest);
  padding: 0.8rem;
}
header#header.story-header h1 span {
  color: var(--accentPurple);
}
header#header.story-header .back {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.back:hover .icon::before {
  color: var(--accentPurple);
}
.story-text {
  width: 60%;
  margin: 1rem auto 2rem auto;
  padding: 0.5rem 1rem;
  background: var(--background);
}
section.content.content-samples.content-story .story-text p {
	text-align: left;
	padding: 0;
  margin: 0.5em 0;
	font-size: 1.1rem;
	line-height: 1.5rem;
	color: var(--baseDarkest);
	font-weight: 300;
}

/* Side menu */
.side-menu {
	position: absolute;
	top: 140px;
	left: 2rem;
	text-align: right;
}
.side-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 160px;
}
.side-menu ul li {
	display: inline-block;
	width: 100%;
	margin: 0.2em 0;
	padding: 0.2em 0.5em 0.2em 0;
	color: var(--baseMedium);
}
.side-menu ul li:hover {
	cursor: pointer;
  color: var(--accentPurple);
}
.side-menu ul li.selected {
	color: var(--baseDarkest);
	border-right: 5px solid var(--accentYellow);
	background: var(--accentYellow10);
}
.side-menu ul li.recent {
  border-top: 1px solid var(--baseMedium);
  margin-top: 1rem;
  padding: 0.5em 0.5em 0.5em 0;
  color: var(--baseDarkest);
}

/* Sample presentation */
.sample img {
	overflow: hidden;
	border: 1px solid white;
	-webkit-box-shadow: 0px 4px 18px -1px var(--secondary);
	-moz-box-shadow: 0px 4px 18px -1px var(--secondary);
	box-shadow: 0px 4px 18px -1px var(--secondary);
	max-width: 100%;
}
.sample img.noshadow {
	border: 1px solid white;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.sample img.minshadow {
	border: 1px solid #0076BA;
	-webkit-box-shadow: 0px 2px 24px -1px var(--secondary);
	-moz-box-shadow: 0px 2px 24px -1px var(--secondary);
	box-shadow: 0px 2px 24px -1px var(--secondary);
}
section.content.content-samples h5 {
	font-size: 1rem;
	margin: 1em 0;
	color: var(--baseDarkest);
	font-weight: normal;
}
section.content.content-samples h6, .h6
{
	text-align: left;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: var(--accentPurple);
	display: inline-block;
	direction: ltr;
	font-size: 0.9rem;
	display: block;
	font-weight: bold;
}
section.content.content-samples p {
	font-size: 0.9rem;
	line-height: 1.4;
	text-align: left;
	margin: 0.5em 0 1em 0;
	padding: 0;
	color: var(--secondary);
}
section.content.content-samples p.links {
  margin-top: 2rem;
  background: var(--footnoteBackground);
  padding: 1em 1.8em;
  border-radius: 5px;
  color: var(--baseDarkest);
  line-height: 2;
}
section.content.content-samples p.about {
  background: var(--footnoteBackground);
  padding: 1em 1.8em;
  border-radius: 5px;
  color: var(--baseDarkest);
  font-weight: 400;
  margin-top: 2rem;
}
.year {
	color: var(--baseMedium);
	margin-left: 0.5em;
}

/* Footnote */
p.footnote {
	z-index: 2;
	position: relative;
	background: var(--footnoteBackground);
	padding: 1em 1.8em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	line-height: 1.3;
	color: var(--secondary);
	display: inline-block;
}

/* Lightbox (library overwrites) */
.sl-overlay {
    background: rgba(0, 0, 0, 1);
}
.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-close {
    color: white;
}

/* Responsive */
@media all and (max-width: 1300px) {
	ul.social .label {
		display: none;
	}
	ul.social .pm .label {
		display: inline;
	}
  header#header ul.social li {
    display: block;
    padding: 0;
    margin: 0 0 1em 0;
  }
}

@media all and (max-height: 500px) and (max-width: 600px) {
	header#header, header#header.extended {
		min-height: 50px;
		margin-bottom: 0;
	}
}

@media all and (max-width: 800px) {
	header#header {
		z-index: 50;
		margin-bottom: -150px;
		text-align: center;
    display: block;
	}
	header#header.extended {
		min-height: 60px;
	}
	#devochka {
		right: -2em;
		top: 80px;
    width: 100px;
		transform: rotate(-45deg);
	}
	header#header h1,
	header#header.extended h1 {
		font-size: 1.6em;
	}
	header#header.extended h2 {
		font-size: 1em;
		line-height: 1em;
	}
	header#header .title {
		margin-top: 0;
		float: none;
	}
	section.content p {
		font-size: 2.6rem;
		font-size: 16pt;
	}
	header#header ul.social {
		left: 1em;
    right: auto;
	}
  header#header ul.social li {
    display: block;
    padding: 0;
    margin: 0 0 1em 0;
  }
	#primary-menu {
		z-index: 51;
		left: 50%;
    top: 80px;
    transform: translate(-50%, 0);
		text-align: center;
    position: absolute;
    margin: 0;
	}
  .content-samples .col4.multicolumn {
    -webkit-column-count: initial;
    -moz-column-count: initial;
    -ms-column-count: initial;
    -o-column-count: initial;
    column-count: initial;
  }
  header#header.story-header h1 {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  header#header.story-header h1 span {
    display: block;
  }
}

@media all and (max-width: 950px) {
	.content-samples:first-child {
		padding: 5em 2em 0 2em;
    border-top: none;
	}
  .content-samples {
		padding: 1.5em 2em 0 2em;
	}
	.side-menu {
		display: none;
	}
  video {
    max-width: 90%;
  }
  .back .icon > span {
    display: none;
  }
  header#header.story-header .back  {
    left: 1rem;
  }
  .content-samples.content-story {
    width: 90%;
    padding: 0;
    min-height: auto;
    padding-top: 5em;
  }
  .story-text {
    width: 80%;
  }
  .content-story .sample img {
    width: 100%;
  }
}

@media all and (max-width: 450px) {
  #devochka {
    right: -3.2em;
  }
  #primary-menu {
    width: 100%;
  }
  #primary-menu ul li a {
  	font-size: 0.7rem;
  	padding: 0.5rem 0.5rem;
  }
  .video-container {
    display: none;
  }
  .content-samples {
    border-top: 1px solid var(--baseMedium);
	}
  .gallery-container {
  	padding: 1rem;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    header#header.story-header h1 {
      font-size: 1.2em;
      line-height: 1.3em;
      width: 100%;
      padding: 0;
    }
    header#header.story-header {
      min-height: 20px;
    }
    header#header.story-header h1 span {
      display: inline;
    }
    header#header.story-header .back  {
      top: 0.7rem;
      left: 0.6rem;
    }
    .content-samples.content-story {
    	padding-top: 2em;
    }
}
