/* Fonts */
@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello/fontello.eot?62192000');
      src: url('../fonts/fontello/fontello.eot?62192000#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?62192000') format('woff'),
           url('../fonts/fontello/fontello.ttf?62192000') format('truetype'),
           url('../fonts/fontello/fontello.svg?62192000#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
.icon:before
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
    
      line-height: 1em;
      margin-left: .2em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

.icon-next:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-forward:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-wink:before { content: '\e813'; } /* '' */
.icon-youtube-text:before { content: '\f313'; } /* '' */
.icon-youtube-icon:before { content: '\f315'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */

/* Main */
body {
	font-family: 'Muli', sans-serif;
}
h1 {	
	font-size: 3em;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
	color: #efb427;
}
h2 {
	padding: 0;
	margin: 0;
	line-height: 1em;
	color: #afabb2;
}
h1, h2, h3, h4, h5 {
		-webkit-transition: all 0.5s ease-out;
		   -moz-transition: all 0.5s ease-out;
		    -ms-transition: all 0.5s ease-out;
		     -o-transition: all 0.5s ease-out;
		        transition: all 0.5s ease-out;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-bottom: dotted 1px #666;
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent !important;
	color: #efb427;
}


/* Header */
header#header {
	padding: 2em 5em 1em 5em;
	min-height: 80px;
	margin: 0;
	border-bottom: 1px solid #7f7488;
	text-align: left;
	position: relative;
	background: #f8f8f8;
	-webkit-transition: all 0.5s ease-out;
		   -moz-transition: all 0.5s ease-out;
		    -ms-transition: all 0.5s ease-out;
		     -o-transition: all 0.5s ease-out;
		        transition: all 0.5s ease-out;
}
header#header.extended {
	min-height: 12em;
	text-align: center;
}
header#header .title {
	float: left;
}
header#header.extended .title {
	float: none;
	margin-top: 0;
}
header#header ul.social {
	position: absolute;
	right: 20%;
	top: -1.5em;
}
header#header.extended ul.social {
	position: initial;
}
header#header h1 {
	font-size: 2em;
}
header#header.extended h1 {
	font-size: 3em;
}
header#header h2 {
	font-size: 1em;
}
header#header.extended h2 {
	font-size: 1.6em;
}
header#header h1 a {
	border: none;
}
header#header h1 a:hover {
	color: rgba(159, 68, 178, 1);
}

/* Sections */
.reveal section.content p {
	text-align: justify;
	padding: 2em 0 0 0;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #7f7488;
	font-weight: 300;
}
.reveal section.content.primary p {
	line-height: 2rem;
}
.reveal section.content p.follow-wrap {
	text-align: left;
}
section.content .flex-section p, section.content.content-gallery p {
	font-size: 95%;
}
section.content a {
	color: rgba(159, 68, 178, 1);
	border-bottom: 1px solid rgba(159, 68, 178, 0.5);
}
section.content a:hover,
section.content a:hover .icon:before {
	color: #efb427;
}
section.content a .icon:before {
	color: rgba(159, 68, 178, 1);
}
.reveal section.content h4 {
	text-align: left;
	margin: 0.5em 0 -0.5em 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 400;
	color: #594c63;
	font-size: 1.3rem;
}
.reveal section.content h4 a.download-link {
	font-size: 0.8rem;
	margin-left: 2em;
	background: rgba(159, 68, 178, 0.1);
	border: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0.5em;
}
.reveal section.content h5 span.email {
	color: rgba(159, 68, 178, 1);
	text-transform: lowercase;
	margin-left: 1em;
	font-size: 0.8rem;
}
.reveal section.content h4 a.download-link:hover {
	background: rgba(239, 180, 39, 0.2);
}
.reveal section.content.content-cv {
	text-align: left;
}
.reveal section.content.content-cv h5 {
	text-align: left;
	margin: 2em 0 1em 0;
	padding: 0;
	text-transform: uppercase;
	color: #efb427;
	display: inline-block;
	direction: ltr;
}
.reveal section.content.content-cv ul {
	font-size: 10pt;
	line-height: 14pt;
	text-align: left;
	margin-left: 1.5em;
	color: #888;
}
.reveal section.content.content-cv ul li {
	margin-bottom: 0.1em;
}
.reveal section.content.content-cv ul.nostyle {
	list-style: none;
}
.reveal section.content.content-cv ul.nostyle li {
	margin-left: -1.5em;
}
.reveal section.content.content-cv ul.nostyle.strong li {
	color: #594c63;
	font-size: 1.1em;
	padding-left: 1rem;
	border-left: 5px solid rgba(159, 68, 178, 0.5);
}

/* SVG image */
#devochka {
	right: 6em;
	margin-top: -100px;
	position: absolute;
	z-index: 1000;
	width: 100px;
}
#devochka img {
	max-width: 12em;
	width: 100%;
	position: relative;
}
#whatsnext {
	right: 6em;
	margin-top: 50%;
	position: absolute;
	z-index: 1000;
	width: 100px;
}
#devochka svg path {
	transition: all 0.2s;
}
#devochka:hover svg path.mouth {
	transform: translate(0, -3px);
	-moz-transform: translate(0, -3px);
	-webkit-transform: translate(0, -3px);
}
#devochka:hover svg path.lefteye {
	-moz-transform: translate(0.5px, 1px);
	transform: translate(0.5px, 1px);
	-webkit-transform: translate(0.5px, 1px);
	opacity: 1;
}
#devochka:hover svg path.righteye {
	-moz-transform: translate(1px, 1px);
	transform: translate(1px, 1px);
	-webkit-transform: translate(1px, 1px);
	opacity: 1;
}
#devochka svg path.righteye,
#devochka svg path.lefteye {
	animation: blink 20s linear 1s infinite;
}
#devochka-look svg {
	width: 200px;
	margin-left: 3em;
}

/* Blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  0.2%, 1% {
    opacity: 0;
  }
  0.3%, 1.2%, 100% {
    opacity: 1;
  }
}

#devochka-look:hover svg path.righteye,
#devochka-look:hover svg path.lefteye {
	animation: eyeroll 3s linear;
}

/* Rolling eye animation */
@keyframes eyeroll {
  0%, 30% {
    -moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(-2px, 0);
	transform: translate(-2px, 0);
	-webkit-transform: translate(-2px, 0);
  }
}

/* Links to social */
ul.social {
	cursor: default;
	list-style: none;
	padding: 1.5em 0 0 0;
	font-size: 70%;
}

ul.social li {
	display: inline-block;
	padding: 0 1.25em 0 0;
	color: #7f7488;
}

ul.social li:last-child {
	padding-right: 0;
}

ul.social li .icon:before {
	font-size: 1.5em;
}
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}
.icon:before {
	color: #7f7488;
}
ul.social li a.resume {
	font-size: 0.7rem;
	background: rgba(159, 68, 178, 0.1);
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0.5em 1em;
	color: rgba(159, 68, 178, 1);
	font-weight: 400;
}
ul.social li a.resume:hover {
	background: rgba(239, 180, 39, 0.2);
	color: black;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
	cursor: pointer;
}
.reveal .controls .enabled {
	opacity: 1 !important;
}
.reveal .controls .navigate-left.enabled {
  border-right-color: #efb427; }

.reveal .controls .navigate-left:focus,
.reveal .controls .navigate-right:focus,
.reveal .controls .navigate-up:focus,
.reveal .controls .navigate-down:focus {
	outline: none;
}
.reveal .controls .navigate-left {
  border-right-color: #7f7488; opacity: 0.2; }

.reveal .controls .navigate-right {
  border-left-color: #7f7488; opacity: 0.2; }

.reveal .controls .navigate-right.enabled {
  border-left-color: #efb427; }

.reveal .controls .navigate-up {
  border-bottom-color: #7f7488; opacity: 0.2; }

.reveal .controls .navigate-up.enabled {
  border-bottom-color: #efb427; }

.reveal .controls .navigate-down {
  border-top-color: #7f7488; opacity: 0.2; }

.reveal .controls .navigate-down.enabled {
  border-top-color: rgba(159, 68, 178, 1); }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: rgba(159, 68, 178, 1); }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: rgba(159, 68, 178, 1); }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: rgba(159, 68, 178, 1); }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: rgba(159, 68, 178, 1); }

.perspective {
}
.image-container {
	text-align: center;
	position: relative;
}
.perspective img {
	-webkit-box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
	   -moz-box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
	    -ms-box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
	        box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-left: 1em;
}
.image-container img {
	max-height: 350px;
}
.front-image {
	z-index: 2;
}
.back-image {
	z-index: 1;
}
.image-container.absolute-image,
.absolute-image,
.image-container-simple.absolute-image {
	position: absolute;
}
.image-container.shifted-left-image {
	left: -100px;
	top: 130px;
}
.image-container.shifted-right-image {
	right: -160px;
	top: 170px;
}
.image-container.shifted-left-image img,
.image-container.shifted-right-image img {
	max-height: 280px;
}
.image-container.medics {
	position: absolute;
	top: 230px;
	right: 50px;
}
.image-container.medics img {
	max-height: 250px;
}
.image-container.moz {
	position: absolute;
	top: 300px;
	right: 180px;
}
.image-container.moz img {
	max-height: 220px;
}
.reveal section.content .col2:nth-child(2) p {
	margin-left: 2em;
}
.reveal section.content .col2:nth-child(2) h4 {
	margin-left: 1.5em;
}
.reveal section.content .col2.white-bg {
	background: white;
	padding: 2em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
	   -moz-box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
	    -ms-box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
	        box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.27);
}
.reveal section.content p.footnote {
	z-index: 3;
	position: relative;
	background: rgba(240, 220, 253, 0.7); 
	padding: 0.8em 1.5em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 9.5pt;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.27);
	line-height: 1.3em;
	color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	margin-top: 0.6em;
	margin-left: -2em;
}
.reveal section.content p.footnote.topmargin {
	top: 60px;
}

/* Misc */
.leftfloat {
	float: left;
}
.rightalign {
	text-align: right;
}
.reveal section.content p .strong,
.reveal section.content p strong,
.reveal section.content  strong {
	font-weight: 400;
	color: #594c63;
}
.follow {
	white-space: nowrap;
}
.flash-unsupported {
	color: #777;
	font-size: 8pt;
}
.hidden {
	display: none;
}
.rightfloat {
	float: right;
	color: #7f7488;
}
/* Responsive */
@media all and (max-width: 800px) {
	ul.social .label {
		display: none;
	}
}

@media all and (max-height: 500px) and (max-width: 600px) {
	header#header, header#header.extended {
		min-height: 50px;
		margin-bottom: 0;
	}
}

@media all and (max-width: 600px) {
	header#header {
		min-height: 60px;
		margin-bottom: -80px;
		text-align: center;
	}
	header#header.extended {
		min-height: 60px;
	}
	#devochka {
		right: -2em;
		top: 100px;
		transform: rotate(-45deg);
	}
	header#header h1,
	header#header.extended h1 {
		font-size: 1.6em;
	}
	header#header.extended h2 {
		font-size: 1em;
		line-height: 1em;
	}
	header#header .title {
		margin-top: 0;
		float: none;
	}
	.reveal section.content p {
		font-size: 2.6rem;
		font-size: 14pt;
	}
	header#header ul.social {
		position: initial;
	}
	.reveal .flex-col {
		float: none;
		width: 100%;
	}
}

/* Box */
.reveal .flex-section {
	clear: both;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
}
.reveal .flex-col {
	display: block;
	float: left;
	margin-right: 4%;
}
.reveal .flex-col:last-child {
	margin-right: 0;
}
.reveal .col2 {
	width: 44%;
}
.reveal .col1 {
	width: 100%;
}
.reveal .flex-col:first-child .image-container {
	margin-top: 2em;
}

/* Gallery */
.reveal .gallery-wrap {
	background: rgba(159, 68, 178, 0.1);
	padding: 1em 2em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	width: 100%;
	min-height: 400px;
	position: relative;
	overflow: hidden;
}
.reveal .me-img {
	display: inline-block;
	background-image: url("../images/photo.jpg");
	width: 200px;
	height: 200px;
	background-size: cover;
	border-radius: 50%;
	-moz-border-radius: 50%;
	padding: 0;
	-webkit-shape-outside:circle();
	shape-outside:circle();
	float: left;
	margin-right: 50px;
}
.box {
	float: left;
	position: relative;
	width: 33%;
	padding-bottom: 33%;
	min-height: 120px;
}
.boxInner {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	overflow: hidden;
	border: 4px solid white;
}
.boxInner img {
	width: 120%;
}
.active .boxInner {
	border: 4px solid #efb427;
}
.boxInner .titleBox {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: -50px;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 10px;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.reveal div.gallery {
	width: 90%;
	margin-top: 2em;
}
ul.gallery {
	list-style: none;
	margin: 2em 0 0 0;
	padding: 0;
}
ul.gallery li {
	display: inline-block;
	width: 30%;
	float: left;
	max-height: 120px;
	margin: 0 10px 10px 0;
	overflow: hidden;
	border: 1px solid white;
	-webkit-box-shadow: 0px 4px 18px -1px rgba(140,143,148,1);
	-moz-box-shadow: 0px 4px 18px -1px rgba(140,143,148,1);
	box-shadow: 0px 4px 18px -1px rgba(140,143,148,1);
	z-index: 1;
	position: relative;
}
ul.gallery li:hover {
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
	z-index: 3;
}
ul.gallery li img {
	width: 100%;
}
.caption {
	font-size: 0.8em;
	width: 95% !important;
	left: 2.5% !important;
	line-height: 1.5em !important;
}

/* Menu */
ul#menu {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 40px;
	bottom: 0;
	left: 2em;
	position: absolute;
	z-index: 2000;
}
ul#menu li {
	display: inline-block;
	margin: 0 0.1em 0 0.1em;
	width: 20px;
	height: 50px;
}
ul#menu li span {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	top: -1.5em;
}
ul#menu li a {
	width: 15px;
	height: 15px;
	display: block;
	background: #ecdaef;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: none;
}
ul#menu li.active a {
	background: #ac6bb7;
}
ul#menu li.active a:hover {
	border: 1px solid #ac6bb7;
}
ul#menu a:hover {
	background: #efb427;
	border: 1px solid #efb427;
}
ul#menu li a:hover span.title {
	display: block;
	white-space: nowrap;
	font-size: 8pt;
	color: #7f7488;
}